@import "tailwindcss";

@theme {
  --color-background: #0D0F14;
  --color-menu: #141720;
  --color-form-input: #1C2030;
  --color-error: #F87171;

  --color-border: #2A3040;

  --color-primary: #F0A04B;
  --color-primary-title-text: #FFFFFF;
  --color-primary-display-text: #849DB2;

  --color-button-create: #F0A04B;
  --color-button-create-text: #000000;

  --color-button-edit: #4C8DFF;
  --color-button-edit-text: #FFFFFF;

  --color-button-delete: #D9534F;
  --color-button-delete-text: #FFFFFF;

  --color-button-resource: #326F73;
  --color-button-resource-text: #FFFFFF;

  /* all tag bg is tag/20 */
  --color-tag-student: #DE7CDE;
  --color-tag-teacher: #F0A04B;
  --color-tag-late: #E67E22;
  --color-tag-ontime: #34C759;
  --color-tag-unsubmitted: #FF0000;

  --font-sans: "Inter", sans-serif;
}

body {
  margin: 0;
  font-family: var(--font-sans);
  background-color: var(--color-background);
}