@import "tailwindcss";

@theme {
  --color-background: #0d0f14;
  --color-menu: #141720;
  --color-form-input: #1c2030;
  --color-error: #f87171;

  --color-border: #2a3040;

  --color-primary: #f0a04b;
  --color-primary-title-text: #ffffff;
  --color-primary-display-text: #849db2;

  --color-button-create: #f0a04b;
  --color-button-create-text: #000000;

  --color-button-edit: #4c8dff;
  --color-button-edit-text: #ffffff;

  --color-button-delete: #d9534f;
  --color-button-delete-text: #ffffff;

  --color-button-resource: #326f73;
  --color-button-resource-text: #ffffff;

  /* all tag bg is tag/20 */
  --color-tag-student: #de7cde;
  --color-tag-teacher: #f0a04b;
  --color-tag-late: #e67e22;
  --color-tag-ontime: #34c759;
  --color-tag-unsubmitted: #ff0000;

  --font-sans: "Inter", sans-serif;
}

body {
  margin: 0;
  font-family: var(--font-sans);
  background-color: var(--color-background);
}

.text-trim {
  text-box: trim-both text alphabetic;
}
